.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 14px;
}

.image img {
  border-radius: 5px;
}

.cart {
  height: 100vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 1rem;
  padding: 21px 20px 14px;
  align-items: center;
}
h1 {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.title {
  font-size: 2rem;
  margin-right: 1em;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  padding: 3px 0;
}

.button {
  font-size: 1em;
  padding: 0.7em 1.5em;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.label {
  flex-grow: 1;
}
.image img {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-right: 11px;
}
.price {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding: 4px 0;
}
.textField textarea {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 46px;
  font-size: 17px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  padding: 12px 20px 13px;
  box-sizing: border-box;
  display: block;
  outline: none;
  border: none;
  border-radius: 0;
  resize: none;
  color: gray;
  -webkit-user-select: auto;
  user-select: auto;
  cursor: auto;
  width: 100%;
}
.textFieldHint {
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  padding: 10px 20px 24px;
  color: gray;
}
