// .cart {
//   height: 100vh;
//   gap: 10px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   flex-wrap: wrap;
//   justify-content: center;
// }
// .header {
//   display: flex;
//   font-size: 1rem;
// }
// .title {
//   font-size: 2rem;
//   margin-right: 2em;
// }
// .button {
//   font-size: 1em;
//   padding: 0.5em 0.5em;
//   border: none;
//   background-color: green;
// }
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 14px;
}

.image img {
  border-radius: 5px;
}
html {
  font-size: 16px; /* Базовый размер шрифта */
}

.cart {
  height: 100vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 1rem;
  padding: 21px 20px 14px;
  align-items: center;
}
h1 {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.title {
  font-size: 2rem;
  margin-right: 1em;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  padding: 3px 0;
}

.button {
  font-size: 1em;
  padding: 0.7em 1.5em;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

/* Медиа-запросы для адаптации на маленьких экранах */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .title {
    font-size: 1.5rem;
    margin-right: 0.5em;
  }

  .button {
    padding: 0.8em 1.6em;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .title {
    font-size: 1.2rem;
  }

  .button {
    padding: 0.6em 1.2em;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }

  .title {
    font-size: 1rem;
  }

  .button {
    padding: 0.5em 1em;
  }
}
.label {
  flex-grow: 1;
}
.image img {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-right: 11px;
}
.price {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding: 4px 0;
}
.textField textarea {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 46px;
  font-size: 17px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  padding: 12px 20px 13px;
  box-sizing: border-box;
  display: block;
  outline: none;
  border: none;
  border-radius: 0;
  resize: none;
  color: gray;
  -webkit-user-select: auto;
  user-select: auto;
  cursor: auto;
  width: 100%;
}
.textFieldHint {
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  padding: 10px 20px 24px;
  color: gray;
}
