.productContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--tg-theme-bg-color);
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
}

.productContainer img {
  width: 100%; // Ширина изображения 100% от родительского контейнера
  height: auto; // Автоматическая высота для сохранения пропорций
  border-radius: 8px;
  object-fit: cover;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 12px 0;
  text-align: center;
}

.productDescription {
  font-size: 16px;
  text-align: center;
  margin: 8px 0;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}
