* {
}
.container {
  background: var(--tg-theme-secondary-bg-color);
}
.addressEdit {
}
.content {
  // height: 100vh;
  padding-bottom: 20px;
}
.map {
  height: 400px;
  position: relative;
  width: 100%;
  height: 100%;
}
.formContent {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  border-radius: 16px 16px 0 0;
  padding: 24px 16px;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;

  .label {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0 0 0 16px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-self: stretch;
    flex-shrink: 0;
  }
  .inputWrapper {
    background: var(--tg-theme-section-bg-color, #fff);
    border-radius: 10px;
    padding: 14px 16px 14px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .inputValue {
    width: 100%;
    color: var(--tg-theme-text-color, #000);
    background: var(--tg-theme-section-bg-color, #fff);
    border: none;
    outline: none;
    font-size: var(--regular-16-font-size, 16px);
    line-height: var(--regular-16-line-height, 100%);
    font-weight: var(--regular-16-font-weight, 400);
  }
}
.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  .inputGroup {
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    width: calc(50% - 4px);
  }
}
